.box{
    display: flex;
}
.list{
    position:fixed;
    right:0;
    top:0;
    width:50%;
    height:100%;
    background:green;
    color:#fff;
    overflow:auto;
    font-size: 60px;
}
.div123:hover{
    color: red;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    color: aliceblue;
}
  
.close {
    background-color: #fff;
}
.div123{
    display: flex;
    justify-content: space-between;
}